:root {
  --vp-c-brand-1: #7B65E0;
  --vp-c-brand-2: color-mix(in srgb, var(--vp-c-brand-1) 95%, black);
  --vp-c-brand-3: color-mix(in srgb, var(--vp-c-brand-1) 85%, black);
  --vp-c-brand-soft: color-mix(in srgb, var(--vp-c-brand-1) 70%, transparent);
}

.dark {
  --vp-c-brand-1: #907bee;
  --vp-c-brand-2: color-mix(in srgb, var(--vp-c-brand-1) 90%, white);
  --vp-c-brand-3: color-mix(in srgb, var(--vp-c-brand-1) 80%, white);
}

.VPImage {
  max-width: 200px !important;
}
